{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <title>MyDisc | Add a Course</title>
    <script src="/static/js/add_course.js"></script>
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 style="margin: auto; text-align: center;">Add a Course</h1>

        <form id="main-form">
            <input type="text" class="form-control" id="course_name" name="course_name" placeholder="Course Name" required>
            <input type="text" class="form-control" id="location" name="location">
            <input type="number" min="0" class="form-control" id="num_holes" name="num_holes" placeholder="# of holes">
            <input type="number" min="0" class="form-control" id="par" name="par" placeholder="par #">

            <button type="button" class="btn-primary" id="add_hole_next">Submit</button> <!--put in what the pars are-->

            <button type="Submit" class="btn-primary" id="submit-button">Submit</button>

        </form>
    </div>

{% endblock %}