<nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-center sticky-top" id="navbar">
    <ul class="navbar-nav">
        <!-- Nav links -->
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/courses">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/current_round">Current Round</a>
        </li>
    </ul>
</nav>
